<% if (user) { %>
  <h1 class="location-edit-list">Edit List</h1>
  <form action="/api/lists/<%= id %>/update" method="POST">
    <div class="form-group">
      <label for="list-name">List name</label>
      <input type="text" class="form-control" id="list-name" name="name" value="<%= name %>">
    </div>
    <div class="form-group">
      <label for="list-description">Description</label>
      <input type="text" class="form-control" id="list-description" name="description" value="<%= description %>">
    </div>
    <button type="submit" class="btn btn-primary">Update List</button>
  </form>
  <br>
  <form action="/api/lists/<%= id %>/delete" method="GET">
    <button type="submit" class="btn btn-danger" name="delete">Delete List</button>
  </form>
  <br>
  <form action="/api/lists/<%= id %>/favourites" method="POST">
    <button type="submit" class="btn btn-warning" name="toggle">Add to Favourites</button>
  </form>

<% } %>
